<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net472" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net472" />
  <package id="Codestellation.Pulsar" version="0.2.28.54" targetFramework="net472" />
  <package id="MediatR" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.SelfHost" version="2.2.1" targetFramework="net472" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Diagnostics" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.FileSystems" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Hosting" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.SelfHost" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Owin.StaticFiles" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net472" />
  <package id="Nancy" version="1.2.0" targetFramework="net472" />
  <package id="Nancy.Bootstrappers.Windsor" version="1.2.0" targetFramework="net472" />
  <package id="Nancy.Owin" version="1.2.0" targetFramework="net472" />
  <package id="Nancy.Viewengines.Razor" version="1.2.0" targetFramework="net472" />
  <package id="Nejdb.Unofficial" version="0.2.42" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net472" />
  <package id="NLog" version="4.4.6" targetFramework="net472" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
  <package id="Topshelf" version="4.2.0" targetFramework="net472" />
  <package id="Topshelf.NLog" version="4.0.3" targetFramework="net472" />
</packages>