@using Codestellation.Galaxy.WebEnd
@using Codestellation.Galaxy.WebEnd.Misc
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Codestellation.Galaxy.WebEnd.Models.FeedModel>
@{ Layout = "Master";}

<h3 class="page-header">Edit Feed</h3>



<form class="form-horizontal" role="form" method="POST">
  @Html.LabeledTextBox(x => x.Name)
  @Html.LabeledTextBox(x => x.Uri)
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-success" value="Submit" />
    </div>
  </div>
</form>
<script>
        $(document).ready(function() {

            validateWithBootstrap();

            $('form').validate({
                rules: {
                    Name: {
                        required: true,
                        minlength: 5,
                        maxlength: 50,
                    },
                    Uri: {
                        required: true,
                        minlength: 5,
                        maxlength: 250
                    },
                }
            });
        });
</script>

