@using Codestellation.Galaxy.WebEnd
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Codestellation.Galaxy.WebEnd.Models.FeedListModel>
@{ Layout = "Master";}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Nuget feeds</h3>
        </div>
        <ul class="list-group">
            
            @if (Model.FeedCount == 0)
            {
                <li class="list-group-item">Be the first, add a feed!</li>
            }

            @foreach (var feed in Model.Feeds)
            {
                <li class="list-group-item">
                    <a href="/@FeedModule.Path/edit/@feed.Id">
                        <h4>@feed.Name (@feed.Uri)</h4>
                    </a>
                    <form action="/feed/delete/@feed.Id" method="POST">
                        <input type="submit" class="btn btn-danger" value="Delete" @(feed.InUse ? "disabled" : string.Empty) />
                    </form>
                </li>
            }
        </ul>
        <div class="panel-footer">
            <a class="btn btn-success" href="/feed/create">New</a>
        </div>
    </div>
</div>

