@using Codestellation.Galaxy.WebEnd
@using Codestellation.Galaxy.WebEnd.Misc
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Codestellation.Galaxy.WebEnd.Models.OptionsModel>
@{ Layout = "Master";}

<h3 class="page-header">Service settings</h3>

<form class="form-horizontal" role="form" method="POST">
  @Html.LabeledTextBox(x => x.DeployFolder)
  @Html.LabeledTextBox(x => x.ConfigsFolder)
  @Html.LabeledTextBox(x => x.DataFolder)
  @Html.LabeledTextBox(x => x.LogsFolder)
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-success" value="Submit" />
    </div>
  </div>
</form>

