@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Codestellation.Galaxy.Domain.User[]>
@{ Layout = "Master";}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Users</h3>
        </div>
        <ul class="list-group">
            @foreach (var user in Model)
            {
                <a href="user/edit/@user.Id" class="list-group-item">
                    <h4 class="list-group-item-heading">@user.Login</h4>
                    @if (user.IsAdmin)
                    {
                        <p>Administrator</p>
                    }

                    <form action="/user/delete/@user.Id" method="POST">
                        <input type="submit" class="btn btn-danger" value="Delete" />
                    </form>
                </a>
            }
        </ul>
        <div class="panel-footer">
            <a class="btn btn-success" href="/user/create">Новый</a>
        </div>
    </div>
</div>

