@using System.Collections.Generic;
@using System.Linq
@using Codestellation.Galaxy.WebEnd
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Codestellation.Galaxy.WebEnd.Models.AgentListModel>
@{ Layout = "Master";}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Agent</h3>
        </div>
        <ul class="list-group">
            @foreach (var agent in Model.Agents)
            {
                <li class="list-group-item ">
                    <a href="/@AgentModule.Path/details/@agent.Id">@agent.Host:@agent.Port</a>
                </li>
            }
        </ul>
        <div class="panel-footer">
            <a class="btn btn-success" href="/@AgentModule.Path/create">New</a>
        </div>
    </div>
</div>

