@using System.Linq
@using Codestellation.Galaxy.WebEnd
@using Codestellation.Galaxy.WebEnd.Misc
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Codestellation.Galaxy.WebEnd.Models.AgentDetailsModel>
@{ Layout = "Master";}


<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Agent: @Model.Host:@Model.Port</h3>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
    </li>
    <li class="list-group-item">

    </li>
    <li class="list-group-item">

    </li>
    <li class="list-group-item">
    </li>
  </ul>
</div>
