@using Codestellation.Galaxy.WebEnd
@using Codestellation.Galaxy.WebEnd.Misc
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Codestellation.Galaxy.WebEnd.Models.CreateAgentModel>
@{ Layout = "Master";}

<h3 class="page-header">Create Agent</h3>



<form class="form-horizontal" role="form" method="POST">
  @Html.LabeledTextBox(x => x.Host)
  @Html.LabeledTextBox(x => x.Port)
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-success" value="Submit" />
    </div>
  </div>
</form>
<script>
        $(document).ready(function() {
            validateWithBootstrap();
            $('form').validate({
                rules: {
                    Endpoint: {
                        required: true,
                    },
                }
            });
        });
</script>

