@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Codestellation.Galaxy.WebEnd.Models.HomepageModel>
@{ Layout = "Master";}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Control panel</h3>
        </div>
            <div class="panel-body">
                <p>Nothing here</p>
            </div>
        <div class="panel-footer">
        </div>
    </div>
</div>