<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net472" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net472" />
  <package id="Codestellation.Pulsar" version="0.2.28.54" targetFramework="net472" />
  <package id="MediatR" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net472" />
  <package id="Nancy" version="1.2.0" targetFramework="net472" />
  <package id="Nancy.Bootstrappers.Windsor" version="1.2.0" targetFramework="net472" />
  <package id="Nejdb.Unofficial" version="0.2.42" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net472" />
  <package id="NLog" version="4.6.0" targetFramework="net472" />
  <package id="NSubstitute" version="2.0.3" targetFramework="net472" />
  <package id="NUnit" version="2.6.4" targetFramework="net472" />
</packages>