@using System.IO
@using System.Linq
@using Codestellation.Galaxy.WebEnd
@using Nancy.Helpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Codestellation.Galaxy.WebEnd.Models.BackupListModel>
@{ Layout = "Master";}


<div class="panel panel-primary">
  <div class="panel-heading">
    Available backups
  </div>
  <ul class="list-group">
    @for (int index = 0; index < Model.Folders.Length; index++)
    {
      var folder = Model.Folders[index];

        <li class="list-group-item">
          @folder.Name
          <button type="button" class="btn btn-danger btn-xs pull-right" data-toggle="modal" data-target="#delete-confirmation-@index">
            <span class="glyphicon glyphicon-flash"></span>
          </button>
          <div class="modal fade" id="delete-confirmation-@index" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                </div>
                <div class="modal-body">
                  Do you really want to restore backup @folder.Name ?
                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger" type="button" data-dismiss="modal" data-path="@HttpUtility.HtmlEncode(folder.Name)">Restore!</button>
                  <button class="btn btn-default" type="button" data-dismiss="modal">Cancel!</button>
                </div>
              </div>
            </div>
          </div>
        </li>
    }
  </ul>
</div>


<script>
    $(document).ready(function () {
        $('button[data-path]').each(function () {
            $(this).bind('click', function () {
                $.ajax({
                    url: '/@FileModule.Path/backup/@Model.DeploymentId?name=' + encodeURIComponent($(this).attr("data-path")),
                    type: 'POST',
                });
            });
        });
    });
</script>
