@using System.Linq
@using Codestellation.Galaxy.WebEnd
@using Nancy.Helpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Codestellation.Galaxy.WebEnd.Models.BackupListModel>
@{ Layout = "Master";}

<div class="row">
    <div class="container  col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Available backups
            </div>
            <ul class="list-group">
                @foreach (var folder in Model.Folders)
                {
                    <li class="list-group-item">
                        @folder.Name
                        <button type="button" class="btn btn-danger btn-xs pull-right" value="@HttpUtility.HtmlEncode(folder.Name)" data-toggle="modal" data-target="#delete-confirmation">
                            <span class="glyphicon glyphicon-flash"></span>
                        </button>
                        <div class="modal fade" id="delete-confirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to restore backup @folder.Name ?
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-danger" type="button" data-dismiss="modal" value="Restore">Restore!</button>
                                        <button class="btn btn-default" type="button" data-dismiss="modal">Cancel!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[value=Restore]')
            .bind('click', function () {
                var button = $(this);
                $.ajax({
                    url: '/@FileModule.Path/backup/@Model.DeploymentId?name=' + encodeURIComponent(button.val()),
                    type: 'POST',
                });
            });
    });
</script>
