@using Codestellation.Galaxy.Infrastructure
@using Codestellation.Galaxy.WebEnd
@using Codestellation.Galaxy.WebEnd.Misc
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Codestellation.Galaxy.WebEnd.Models.Jobs.CreateJobModel>
@{ Layout = "Master";}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">CreateJob</h3>
    </div>
</div>

<div class="row">
    <form class="form-horizontal" role="form" method="POST">
        @Html.LabeledDropDown(x => x.TimeZoneId, TimeZoneCollection.AvailableTimeZones)
        @Html.LabeledTextBox(x => x.Schedule)
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-success" value="Submit" />
            </div>
        </div>
    </form>
    <script>
        $(document).ready(function() {

            validateWithBootstrap();

            $('form').validate({
                rules: {
                    CronExpression: {
                        required: true,
                    },
                }
            });
        });
    </script>
</div>
