@using System.Linq
@using Codestellation.Galaxy.WebEnd
@using Codestellation.Galaxy.WebEnd.Misc
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Codestellation.Galaxy.WebEnd.Models.BuildLogsModel>
@{ Layout = "Master";}


<div class="panel panel-primary">
  <div class="panel-heading">
    Avaible build logs
  </div>
  <ul class="list-group">
    @foreach (var file in Model.Files)
    {
        <li class="list-group-item">
          <a href="/@DeploymentModule.Path/build-log/@Model.DeploymentId/@file.Name">@file.Name</a>
        </li>
    }
  </ul>
</div>
