@using Codestellation.Galaxy.WebEnd
@using Codestellation.Galaxy.WebEnd.Misc
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Codestellation.Galaxy.WebEnd.Models.DeploymentModel>
@{ Layout = "Master";}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Details</h3>
    </div>
</div>

<div class="row">
    @if (!string.IsNullOrEmpty(@Model.Status))
    {
        <p>Status = @Model.Status</p>
    }
    <p>
        <form action="/@DeploymentModule.Path/install/@Model.Id" method="POST">
            <input type="submit" class="btn btn-danger btn-xs" value="Install" />
        </form>
    </p>
    <p>
        <form action="/@DeploymentModule.Path/start/@Model.Id" method="POST">
            <input type="submit" class="btn btn-danger btn-xs" value="Start" />
        </form>
    </p>
    <p>
        <form action="/@DeploymentModule.Path/stop/@Model.Id" method="POST">
            <input type="submit" class="btn btn-danger btn-xs" value="Stop" />
        </form>
    </p>
    <p>
        <form action="/@DeploymentModule.Path/uninstall/@Model.Id" method="POST">
            <input type="submit" class="btn btn-danger btn-xs" value="Uninstall" />
        </form>
    </p>
</div>
